*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.responsive {
  //width: 100%;
  height: auto;
  max-width:1500px;
  margin-left:auto;
  margin-right:auto;
 }

.responsive p {
  margin-top: 100px;
}

.responsive img {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  float: right;
  height: 800px;
  padding-top: 60px;
  margin-bottom: 20px;
  padding-left:50px;
  padding-right:50px;

}
@media (max-aspect-ratio: 16/9) {
  .responsive img {
  padding-left:0px;
  padding-right:0px;
  height:auto;
  }
}

.responsive h2 {
  padding-left:0px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

h2 {
  padding: 20px;
  margin-left: 20px;
}

.responsive p {
  font-size: 20px;
  justify-content: center;
  margin-bottom: 60px;
  padding: 25px;
  
}



p {
  margin-top: 100px;
}

// .box-container {
//   display: flex;
//   justify-content: center;
//   margin-right: auto;
//   width: 100%;
//   margin-top: 40px;
//   max-width: 70%;
//   max-width: 100%;
//   height: auto;
// }

// .intro p {
//   margin-left: 2px;
//   font-size: 5em;
// }

// .text h1 {
//   padding-top: 100px;
//   display: flex;
//   justify-content: center;
//   font-family: arial;
//   min-width: 350px;
//   font-size: 64px;
//   padding-right:120px;
// }

// img.container__image {
//   float:left;
//   margin: 20px;
//   width: 700px;
//   padding-bottom: 55px;
//  max-width: 100%;
//   height: auto;

// }

// .container__text {
  

//   }
//   // margin-bottom: 15%;
//   // margin-left: 50px;
//   // padding-left: 60px;
//   // font-size: 2vw;
//   // padding: 16px 16px 16px 16px;


.app-wrapper {
  background-color: #eee;
}

.footer{
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 7px 0;
  box-sizing: border-box;
  background-color: black;
  height: 100px;
//  position:absolute;
//  bottom:0px;
}

.inner_footer {
  display: block;
  margin: 0 auto;
  //width: 1100px;
  height: 100%;
}

.inner_footer h4 {
  font-family: 'arial';
     font-size: 16px;
     color: white;
    display: block;
    padding-top: 20px;
    
}



.logo_container img {
  height: 36px;
}

 .footer_text{
  font-family: 'arial';
     //font-size: 14px;
     color: white;
    display: block;
    //justify-content: center;
    padding-bottom: 18px;
    
}


.logo_container {
  padding-left:20px;
}


.inner_footer .logo-container {
  display: block;
  float: left;
  //width: auto;
  height: 100%;
}



.inner_footer > .footer_text {
  margin-right: 10px;
  height: 100%;
  color:white;
  //display: flex;
  //justify-content: center;
  margin-top: -24px;
  font-size: 24px;
  //max-width: 100%;
  text-align:center;
}
  
.inner_footer  .footer_text:last-child {
  margin-right: 0;

}

@media (max-width: 500px) {
  .footer_text h6{
  font-size:10px;
  }

  .inner_footer > .footer_text {
  text-align:right;
  padding-right:45px;
  margin-top: -35px;
  
  }
}
@media (min-width: 1500px) {
  .inner_footer {
    width:1500px;
  }
}


// @media screen and (max-width: 480px) {
//   img.container_image {
//        width: 400px;
//   }
// }

// @media (max-width: 500px) {
//   .box-container {
//     align-items: center;
  
//     width: 100%;
//     display: -webkit-box;
//     display: flex;
//     margin-left: 0px;
//     margin-top: 40px;
//   }

  
//    .container__text {
//     -webkit-box-flex: 1;
//             flex: 1 1 auto;
//   }
  
//   .container__text {
//     margin-bottom: 15%;
//     margin-left: 10px;
//     padding-left: 0px;
//   }
// }
