*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}


.box-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 40px;
  max-width: 70%;

  
}


.intro p {
  margin-left: 2px;
}

.text h1 {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  font-family: arial;
  min-width: 350px;
  font-size: 64px;
  padding-right:120px;
}

.container__image {
  float:left;
  margin: 20px;
  width: 700px;
  padding-bottom: 55px;
  max-width: 100%;
  height: auto;

}

.container__text {
  margin-bottom: 15%;
  margin-left: 50px;
  padding-left: 60px;
  font-size: 5vw;
}

.app-wrapper {
  background-color: #eee;
}

.footer{
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 7px 0;
  box-sizing: border-box;
  background-color: black;
  height: 100px;
}

.inner_footer {
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}

.inner_footer h4 {
  font-family: 'arial';
     font-size: 16px;
     color: white;
    display: block;
    padding-top: 20px;
    
}



.logo_container img {
  height: 36px;
}

 .footer_text{
  font-family: 'arial';
     font-size: 14px;
     color: white;
    display: flex;
    justify-content: center;
    margin: right;
    padding-bottom: 18px;
    
}

.logo-container {
  height: 36px;
}


.inner_footer .logo-container {
  display: block;
  float: left;
  width: 35%;
  height: 100%;
}



.inner_footer > .footer_text {
  margin-right: 10px;
  height: 100%;
  color:white;
  display: flex;
  justify-content: center;
  margin-top: -24px;
  font-size: 24px;
  max-width: 100%;
}
  
.inner_footer  .footer_text:last-child {
  margin-right: 0;

}

@media (max-width: 500px) {
  .inner_footer > .footer_text {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .container {
    align-items: center;
  
    width: 100%;
    display: -webkit-box;
    display: flex;
    margin-left: 0px;
    margin-top: 40px;
  }

  .container__image {
    margin: 20px;
    margin-left: 0;
    width: 100px;
    display: -webkit-box;
    align-self: flex-start;
    padding-bottom: 55px;
  
  }
   .container__text {
    -webkit-box-flex: 1;
            flex: 1 1 auto;
  }
  
  .container__text {
    margin-bottom: 15%;
    margin-left: 10px;
    padding-left: 0px;
  }

}

