.user-form h1{
  display: flex;
  justify-content: center;
  height: calc(100vh - 84px);
  align-items: center;
  background-color: grey;

}

.user-form input {
  display: flex;
  justify-content: center;
  
}