.video {
  position: relative;
  // padding-bottom: 56.25%;
  padding-bottom: 0px;
  margin-top: 90px;
  margin-bottom: 15px;

}
.video iframe {
  // position: absolute;
  width: 100%;
  // height: 50%;
  z-index: 0;
}